* {
  font-family: 'Poppins' !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

g .node image {
  clip-path: circle(50% at 50% 50%);
  margin: 200vh;
}

g .node image:hover {
  clip-path: circle(50% at 50% 50%);
  border-radius: 100%;
  border: #d2d2d2 solid 5px
}

.rc-md-editor {
  text-align: left;
  background-color: rgb(247, 246, 242);
}

.section-container {
  background: rgb(250, 250, 249);
  color: white;
  font-family: 'Poppins';
  word-wrap: break-word;
}

.hlVYRS {
  overflow: scroll;
  padding: 0vw 2.5vw;
}

.hNxLRE{
  line-height: 2.5em !important;
}

.node image{
  border-radius: 50px !important;
}

.MuiDialogTitle-root{
  z-index: 3;
}